body {
  background-color: #f5f5f5;
  overflow-y: auto;
  width: 99vw;
  height: 100vh;
}

* {
  font-family: Roboto;
}

.wrapper {
  width: 100%;
  display: flex;
}

.card {
  padding: 20px 0;
  background-color: white;
  border-radius: 6px;
}

.card .card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.input_icon {
  position: relative;
  display: flex;
}

.input_icon img {
  position: absolute;
  right: 20px;
  top: 30%;
  width: 14px;
}

.custom_search {
  border: 1px solid #e3e7ee;
  border-color: #e3e7ee;
  border-radius: 6px;
  padding: 9px 20px;
  width: 260px;
}

.custom_search::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #0f123f;
  opacity: 0.5;
}

.sorting_box {
  background: #ffffff;
  border: 1px solid #e3e7ee;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 9px 10px;
  color: #0f123f;
}

.table {
  padding: 20px 0;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  border: none;
}

.table thead th {
  border-top: 1px solid #e3e7ee;
  padding: 1.1rem;
}

.table td {
  border-top: 1px solid #e3e7ee;
}

.table th,
.table td {
  padding: 1rem 0.75rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #0f123f;
  margin: 0;
  text-align: center;
  margin: auto;
}

.table td img {
  opacity: 0.6;
}

.table_striped tbody tr:nth-of-type(odd) {
  background-color: #c2c9d12a;
}

.table_responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge_success {
  background-color: #13c57c;
  padding: 5px 10px;
  border-radius: 100px;
  color: white;
  font-size: 11px;
  margin: auto;
}

.badge_secondary {
  background-color: #9ea2a9;
  padding: 5px 10px;
  border-radius: 100px;
  color: white;
  font-size: 11px;
  margin: auto;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_thumb_green {
  margin: 0 5px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #45d0aa;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
}

.user_thumb_purple {
  margin: 0 5px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #9996ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
}

/* Datatable Styling */

table.dataTable thead th,
table.dataTable thead td {
  padding: 17px 18px !important;
  border-bottom: none !important;
}

table.dataTable.no-footer {
  border-bottom: none !important;
}

.dataTables_wrapper .dataTables_filter {
  float: none !important;
  text-align: right !important;
}

.dataTables_wrapper .dataTables_filter label {
  display: none !important;
}

table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 17px 18px !important;
  border-top: none !important;
}

/* Custom Checkbox */

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  margin: 0 6px 0 0;

  width: 20px;
  height: 20px;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
}

input[type="checkbox"]:checked {
  background: linear-gradient(128.58deg, #0f123f 14.67%, #3a408f 86.8%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.card_footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card_footer .page_length {
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #0f123f;

  display: flex;
  align-items: center;
  margin-right: 5rem;
}

.card_footer .page_num {
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #0f123f;
  margin-right: 5rem;
}

.card_footer .pagination {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5rem;
}
