.btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;

  position: absolute;
  width: 100%;
  height: 50px;
  left: calc(50% - 360px / 2 + 400px);
  border: none;
}

.btn_dark_blue:not(.modal_footer > .btn_dark_blue) {
  background: linear-gradient(128.58deg, #0f123f 14.67%, #3a408f 86.8%);
  border-radius: 6px;

  position: static;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;

  color: #ffffff;
  transition: transform 0.6s;
}

.btn_dark_blue:hover:not(.modal_footer > .btn_dark_blue) {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .btn_dark_blue:not(.modal_footer > .btn_dark_blue) {
    margin-top: 80px;
  }
}

.btn_outline_blue:not(.modal_footer > .btn_outline_blue) {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 8px;
  border: 1px solid #0f123f;
  background: #ffffff;
  border-radius: 6px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  transition: all 0.3s;
}

.btn_outline_blue:hover:not(.modal_footer > .btn_outline_blue) {
  background: #0f123f17;
}

.btn_outline_blue p {
  margin: 0;
  padding-left: 10px;
  font-family: Roboto;
}

.pagination {
}

/* Account Page */
.pagination > button {
  cursor: pointer;
  background-color: white;
  border: 1px solid #e3e7ee;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  margin: 0 3px;
}

.pagination > button.active {
  background: linear-gradient(128.58deg, #0f123f 14.67%, #3a408f 86.8%);
  color: white;
}

.pagination > button:hover {
  background: linear-gradient(128.58deg, #0f123f 14.67%, #3a408f 86.8%);
  color: white;
}

a {
  text-decoration: none;
  color: #0f123f;
}
