.content {
  position: absolute;
  left: 100px;
  right: 40px;
  top: 60px;
}

.content .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .header h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #0f123f;
}

.right_control {
  display: flex;
}

.right_control a {
  text-decoration: none;
}

.switch_btn {
  background: #ffffff;
  border: 1px solid #e3e7ee;
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.switch_btn a {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #0f123f;
  text-decoration: none;
  margin: auto;
  padding: 10px 25px;
  transition: all 0.3s;
}

.switch_btn .active {
  background: linear-gradient(128.58deg, #0f123f 14.67%, #3a408f 86.8%);
  color: white;
  border-radius: 6px;
  transition: all 0.3s;
}

.switch_btn a:hover {
  background: #0f123f2c;
  color: #0f123f;
  border-radius: 6px;
}

.content .footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
