body {
  background-color: #f5f5f5;
  overflow-y: auto;
  width: 99vw;
}

.wrapper {
  width: 100%;
  display: flex;
}

.content {
  position: absolute;
  left: 100px;
  right: 100px;
  top: 60px;
}

.content .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #0f123f;
}

.content .card_frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

.content .card_frame .small_card {
  position: static;
  width: 213px;
  height: 117px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-right: 25px;
  background-color: #fff;
  border: 1px solid #e3e7ee;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}

.content .card_frame .small_card .card_content {
  position: absolute;
  width: 150px;
  height: 52px;
  left: 30px;
  top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.content .card_frame .small_card .card_content p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: #0f123f;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 4px 0px;
}

.content .card_frame .small_card .card_content h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bolder;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #0f123f;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 4px 0px;
}

.content .card_frame .small_card .card_icon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 150px;
  top: 16px;
}

.content .card_frame .small_card .card_icon span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6.5px 15px;
  border-radius: 50%;
  background: linear-gradient(128.58deg, #0f123f 14.67%, #3a408f 86.8%);
}

.content .chart_frame {
  display: inline-flex;
}

.content .chart_frame .card_1 {
  width: 970px;
  height: 312px;

  background: #ffffff;
  border: 1px solid #e3e7ee;
  box-sizing: border-box;
  border-radius: 6px;
}

.content .chart_frame .card_1 .card_header,
.content .chart_frame .card_2 .card_header {
  display: flex;
  align-items: center;
}

.content .chart_frame .card_1 .card_header h1,
.content .chart_frame .card_2 .card_header h1 {
  padding-left: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #0f123f;
}

.content .chart_frame .card_1 .card_header img,
.content .chart_frame .card_2 .card_header img {
  margin-left: auto;
  padding-right: 30px;
}

.content .chart_frame .card_1 .card_header .label {
  display: flex;
  align-items: center;
  margin: auto;
}

.content .chart_frame .card_1 .card_header .label .item,
.content .chart_frame .card_2 .label .item {
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.content .chart_frame .card_1 .card_header .label .item p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;

  color: #0f123f;
}

.content .chart_frame .card_1 .card_header .label .box_dark_blue {
  width: 12px;
  height: 12px;
  margin: 0 5px;

  background: linear-gradient(128.58deg, #0f123f 14.67%, #3a408f 86.8%);
  border-radius: 2px;
}

.content .chart_frame .card_1 .card_header .label .box_red {
  width: 12px;
  height: 12px;
  margin: 0 5px;

  background: #ff7171;
  border-radius: 2px;
}

.content .chart_frame .card_1 .card_header .label .box_orange {
  width: 12px;
  height: 12px;
  margin: 0 5px;

  background: #ff922b;
  border-radius: 2px;
}

.content .chart_frame .card_1 .card_header .label .box_blue {
  width: 12px;
  height: 12px;
  margin: 0 5px;

  background: #3476f2;
  border-radius: 2px;
}

.content .chart_frame .card_2 {
  width: 400px;
  height: 312px;
  margin: 0 30px;

  background: #ffffff;
  border: 1px solid #e3e7ee;
  box-sizing: border-box;
  border-radius: 6px;
}

.content .chart_frame .card_2 .filter {
  display: flex;
  justify-content: end;
  padding-right: 30px;
}

#pieChart {
  height: 150px !important;
  width: 305px !important;
  margin: auto;
}

.content .chart_frame .card_2 .filter select {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #0f123f;

  padding: 8px;
  border-color: #dce0e7;
  border-radius: 5px;
}

.content .chart_frame .card_2 .label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .chart_frame .card_2 .label .item .circle_1 {
  background: linear-gradient(
    90deg,
    #ff8988 -0.01%,
    #f16767 81.01%,
    #e84445 100.01%
  );
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}

.content .chart_frame .card_2 .label .item .circle_2 {
  background: #0f123f;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}

.content .chart_frame .card_2 .label .item .circle_3 {
  background: #efefef;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}

.content .chart_frame .card_2 .label .item p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 12px;
  letter-spacing: -0.2px;

  color: #0f123f;
}

.content .chart_frame_2 {
  display: flex;
}

.card_full {
  width: 1400px;
  height: 280px;

  background: #ffffff;
  border: 1px solid #e3e7ee;
  box-sizing: border-box;
  border-radius: 6px;
}

.card_full .card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_full .card_header h1 {
  padding-left: 20px;
  padding-top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #0f123f;
}

.card_full .card_header img {
  padding-right: 30px;
}

.card_full .card_content {
  display: flex;
  flex-direction: row;
}

.card_full .card_content span .hr {
  border-left: 1px solid salmon;
}

.card_full .card_content .chart_wrapper {
  position: relative;
  left: 0;
}

.card_full .card_content .chart_wrapper .middle_text {
  /* width: 95%; */
  width: 230px;
  height: 20px;
  /* position: absolute; */
  top: 38%;
  left: 0;
  margin-top: -20px;
  line-height: 19px;
  text-align: center;
}

.middle_text h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #0f123f;
}

.middle_text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;

  color: #0f123f;
}

#backEndChart,
#marketingChart,
#frontEndChart,
#dataAnalystChart {
  height: 180px !important;
  width: 180px !important;
  margin-left: 20px;
  margin-right: 30px;
  padding: 0;
}

.frame_1 {
  width: 40vw;
  padding: 0 100px 0 150px;
}

.frame_1 .detail {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.frame_1 .detail .desc {
  margin-left: 30px;
}

.frame_1 .detail .desc p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  color: #0f123f;
}

.frame_1 .detail .desc h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bolder;
  font-size: 24px;
  line-height: 24px;
  margin-top: 5px;
  margin-bottom: 0;
  color: #0f123f;
}

.frame_1 .detail .icon {
  width: 53px;
  height: 53px;
  background: linear-gradient(128.58deg, #0f123f 14.67%, #3a408f 86.8%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.frame_1 .detail .icon img {
  width: 25px;
}

.vertical_line {
  border-left: 1px solid #e3e7ee;
  position: absolute;
  width: 1px;
  height: 243px;
  left: 986px;
  top: 560px;
}
