.wrapper {
  background-color: white;
  height: 110vh;
}

.rectangle {
  position: absolute;
  width: 800px;
  height: 768px;
  left: 0px;
  top: 0px;
  background: #f7fafc;
  box-shadow: 0px 12.6698px 22.5241px rgba(208, 210, 218, 0.15);
}

.rectangle .logo {
  position: absolute;
  width: 43.99px;
  height: 40px;
  left: 130px;
  top: 71px;
}

.rectangle .image {
  position: absolute;
  width: 579.4px;
  height: 400px;
  left: 110px;
  top: 164px;
}

.rectangle .image_responsive {
  display: none;
}

.rectangle .elipse_39 {
  position: absolute;
  left: 153px;
  top: 130px;
}

.rectangle .elipse_38 {
  position: absolute;
  left: 94px;
  top: 71px;
}

.rectangle .description {
  position: absolute;
  width: 472px;
  height: 48px;
  left: 164px;
  top: 571px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  text-align: center;

  color: #7b8698;
}

.rectangle .bar {
  position: absolute;
  width: 1px;
  height: 768px;
  left: 800px;
  top: 0px;

  background: #e8eef1;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: calc(535px - 15px);
  height: 60px;
  left: 903px;
  top: 115px;
}

.login_form-responsive {
  display: none;
}

.login_form .header {
  margin-bottom: 30px;
}

.login_form .header h2 {
  position: static;
  width: 360px;
  height: 28px;
  left: calc(50% - 360px / 2);
  top: calc(50% - 28px / 2 - 16px);

  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 28px;

  display: flex;
  align-items: center;

  color: #1a1a1a;
}

.login_form .header p {
  position: static;
  height: 20px;
  left: calc(50% - 206px / 2);
  top: 0px;

  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;

  display: flex;
  align-items: flex-end;

  color: #778192;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 1px;
}

.login_form form {
  width: 100%;
}

.login_form form .label {
  width: 39px;
  height: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0.3px;

  color: #1e1e1e;

  margin-bottom: 20px;
}

.login_form .input {
  padding: 10px;
  width: calc(535px - 11px);
  height: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 15px;

  font-family: Poppins;
  font-size: 14px;
}

::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #8892a3;
  letter-spacing: 0.3px;
}

.login_form .form_input {
  position: relative;
}

.login_form .eye_icon {
  position: absolute;
  right: 0;
  bottom: 35px;
}

.login_form .additional {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  font-size: 14px;
}

.login_form .additional a {
  font-style: normal;
  font-weight: normal;
  line-height: 20px;

  text-align: right;
  letter-spacing: 0.3px;

  margin-left: auto;
  color: #007aff;
}

.login_form .additional a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login_form .additional .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.login_form .additional .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.login_form .additional .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d9d9d9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.login_form .additional .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0 5px rgb(160, 160, 160);
}

.login_form .additional input:checked + .slider {
  background-color: #2196f3;
}

.login_form .additional input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.login_form .additional input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(30px);
}

.login_form .additional .slider.round {
  border-radius: 34px;
}

.login_form .additional .slider.round:before {
  border-radius: 50%;
}

.login_form .additional p {
  margin-left: 10px;
}

.login_form hr {
  background-color: #d9e1e6;
  border: none;
  height: 1px;
}

.login_form .copyright_text {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3px;

  text-align: center;

  color: #778192;
}

@media (max-width: 768px) {
  body {
    overflow-y: auto;
    max-width: 98vw;
  }

  .logo,
  .description,
  .elipse_38,
  .elipse_39,
  .bar,
  hr,
  .login_form,
  .copyright_text,
  .rectangle {
    display: none;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .image_responsive {
    margin: auto;
    margin-top: 80px;
    margin-bottom: 10px;
    display: inline-flex;
    max-width: 60%;
  }

  .login_form_responsive {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
  }

  .login_form_responsive .header h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    text-align: center;
    margin: 15px 0;
  }

  .login_form_responsive .header p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #666666;
  }

  .login_form_responsive .form_control input:not(.checkbox) {
    background: #f6f6f6;
    padding: 10px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-size: 14px;
    margin: 10px 0;
  }

  .login_form_responsive .form_control .input_icon {
    position: relative;
  }

  .eye_icon {
    position: absolute;
    right: 20px;
    bottom: 30px;
  }

  .login_form_responsive .form_control input[type="checkbox"] {
    background: #f6f6f6;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .login_form_responsive .form_control .input_checkbox {
    display: flex;
    flex: 1;
  }

  .login_form_responsive .form_control .input_checkbox label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
    padding: 0 10px 0 5px;
    letter-spacing: 0.3px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .login_form_responsive .footer a {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #0f123f;
    text-decoration: none;
    cursor: pointer;
  }

  .login_form_responsive .footer a:hover {
    text-decoration: underline;
  }
}
