/* Modal  */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.37);
  transition: all 0.4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s;
}

.modal_content {
  border-radius: 6px;
  position: relative;
  width: 300px;
  background: #fff;
  padding: 1em 2em;
  padding: 50px 30px 30px 30px;
  transition: all 0.4s;
}

.modal_content .form_control {
  display: flex;
  flex-direction: column;
}

.modal_content .form_control > * {
  margin-bottom: 10px;
}

.modal_content .form_control label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;

  color: #0f123f;
}

.modal_content .form_control input {
  font-family: Roboto;
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  padding: 10px;
  border: 1px solid #e3e7ee;
  border-radius: 6px;
}

.modal_content .form_control input::placeholder {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: #8892a3;
  letter-spacing: 0.3px;
}

.modal_content .form_control select {
  font-family: Roboto;
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  padding: 10px;
  border: 1px solid #e3e7ee;
  border-radius: 6px;
}

.modal_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal_close {
  position: absolute;
  top: 10px;
  right: 26px;
  color: #0f123f;
  text-decoration: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal_footer .btn_outline_blue {
  display: flex;
  align-items: center;

  background: white;
  border-radius: 6px;
  color: #0f123f;
  transition: all 0.6s;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  padding: 10px 47px;
  border: 1px solid #0f123f;
}

.modal_footer .btn_outline_blue:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.modal_footer .btn_dark_blue {
  display: flex;
  align-items: center;

  background: linear-gradient(128.58deg, #0f123f 14.67%, #3a408f 86.8%);
  border-radius: 6px;
  color: #ffffff;
  transition: all 0.6s;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  padding: 10px 47px;
  border: none;
}

.modal_footer .btn_dark_blue:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: white;
}
