.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;
  height: 56px;
  width: 100vw;
  padding-right: 2%;
}

.navbar .search_box {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar .search_box input {
  background-color: #0f123f0e;

  border: none;
  border-radius: 6px;
  padding: 8px;
  width: 240px;
  padding-left: 35px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;

  color: #0f123f;
}

.navbar .search_box .icon_1 {
  position: absolute;
  left: 5px;
}

.navbar .search_box .icon_2 {
  position: absolute;
  right: 12px;
}

.navbar .bell_icon {
  margin: 0 15px 0 35px;
  position: relative;
  display: flex;
  cursor: pointer;
}

.navbar .bell_icon .ellipses {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #e80000;
  position: absolute;
  right: 0;
}

.navbar .frame_5550 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.navbar .frame_5550 .icon {
  position: static;
  left: 84.42%;
  right: 0;
  top: 12.5%;
  bottom: 12.5%;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 2px;
}

.navbar .frame_5550 .frame_5549 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 128px;
  height: 32px;
  left: 0px;
  top: 0px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 2px;
}

.navbar .frame_5550 .frame_5549 p {
  position: static;
  left: 32.81%;
  right: 0%;
  top: 25%;
  bottom: 25%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #0f123f;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 10px;
}
