ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

.sidebar {
  background-color: #fff;
  min-height: 100vh;
  height: 100%;
  position: fixed;
}

.sidebar .logo {
  position: absolute;
  width: 43.29px;
  height: 32px;
  left: 13px;
  top: 16px;
}

.sidebar .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 97px;
}

.sidebar .menu .menu_item {
  margin: 20px 0;
  cursor: pointer;
}

.sidebar .menu .active {
  position: relative;
  width: 2.8vw;
  height: 45px;
  margin: auto;
  background: linear-gradient(128.58deg, #0f123f17 14.67%, #3a408f15 86.8%);
  border-right: 4px solid #0f123f;
  padding-left: 22px;
  padding-top: 0;
  padding-bottom: 15px;
}
