.mt_1 {
  margin-top: 0.5rem;
}

.mt_2 {
  margin-top: 1rem;
}

.mt_3 {
  margin-top: 1.5rem;
}

.mt_4 {
  margin-top: 2rem;
}

.mt_5 {
  margin-top: 2.5rem;
}

.mb_1 {
  margin-bottom: 0.5rem;
}

.mb_2 {
  margin-bottom: 1rem;
}

.mb_3 {
  margin-bottom: 1.5rem;
}

.mb_4 {
  margin-bottom: 2rem;
}

.mb_5 {
  margin-bottom: 2.5rem;
}

.ml_1 {
  margin-left: 0.5rem;
}

.ml_2 {
  margin-left: 1rem;
}

.ml_3 {
  margin-left: 1.5rem;
}

.ml_4 {
  margin-left: 2rem;
}

.ml_5 {
  margin-left: 2.5rem;
}
