body {
  background-color: #f5f5f5;
  overflow-y: auto;
  width: 99vw;
  height: 100vh;
}

.wrapper {
  width: 100%;
  display: flex;
}

.collection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.collection .card {
  width: 100%;
  height: 265px;
  background: #ffffff;
  border: 1px solid #e3e7ee;
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 30px;
}

.collection .card:nth-last-child(1) {
  margin-right: 0;
}

.collection .card .card_header {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection .card .card_header img {
  max-width: 100%;
}

.collection .card .card_header h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #0f123f;
}

.collection .card .hr {
  border-top: 1px solid #e3e7ee;
  margin: 0 15px;
}

.collection .card .card_body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 15px;
}

.collection .card .card_body .item {
  text-align: center;
}

.collection .card .card_body .item p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  color: #9ea2a9;
  margin-bottom: 5px;
}

.collection .card .card_body .item h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  color: #0f123f;
  margin: 0;
}

.collection .card .card_footer {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.collection .card .card_footer .item {
  display: flex;
  margin: 0 15px;
  align-items: center;
}

.collection .card .card_footer .item > * {
  padding-right: 8px;
}

.collection .card .card_footer .item p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  color: #9ea2a9;
}
